* {
  background-color: rgb(224, 224, 224);
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
  margin: 0 auto;
}

.title {
  color: #7A1334;
  text-align: center;
  font-size: 54px;
  font-weight: bold;
  margin-top: 8%;
  margin-bottom: 3%;
}

.container {
  background-color: #FFF;
  border-radius: 30px;
  padding-top: 50px;
  border: 2px solid rgb(58, 58, 58);
  margin: 0 auto;
  height: 400px;
  width: 600px;
}

form {
  background-color:  rgb(224, 224, 224);
  border-radius: 10px;
  margin: auto auto;
  margin-bottom: 30px;
  width: 80%;
  height: 15%;
}

input {
  border: none;
  position: relative;
  left: 5%;
  top: 25%;
  font-size: 20px;
}

::placeholder {
  color: #000000;
}

#login-btn {
  background-color: #7A1334;
  color: #fff;
  width: 80%;
  height: 15%;
  margin-left: 10%;
  margin-top:5%;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
}

.signup {
  display: inline-block;
  width: 100%;
  background-color: white;
  margin-top: 8%;
  text-align: center;
  font-size: 24px;
  font-weight: lighter; 

  #signup-desc {
    background-color: white;
    color: #000000;
    
  }
  
  #signup-button {
    background-color: white;
    color: #7A1334;
  
  }
}

