@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 0.6;
    position: sticky;
    top: 0.01%; // gambiarra, nao mexer
    height: 100vh;
    overflow: scroll;
    background-color: themed("wine");
    color: themed("textColor");

    @include tablet{
      // display: none;
      padding: 5%;
      flex: 1;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 35%;

      .menu {
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
    }
  }
}
