.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
  
    .card {
      display: flex;
      justify-content: center; // Centrar horizontalmente
      align-items: center; // Centrar verticalmente
      flex-direction: column; // Organizar os filhos verticalmente
      background-color: #fff;
      border: 1px solid #e0e0e0;
      padding: 4px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 8px;
      overflow: hidden;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 10%;
      border-radius: 10px;
  
      h3 {
        margin: 8px 0;
        font-size: 18px;
      }
  
      p {
        font-size: 14px;
        color: #666;
      }
    }
  }

  @media (max-width: 1500px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 900px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }

    
  @media (max-width: 720px) {
    .card-grid {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  