@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap'); // Importar a fonte Raleway

.favorites-page-container {
    display: flex; // Usar flexbox
    justify-content: center; // Centrar horizontalmente
    align-items: center; // Centrar verticalmente
    flex-direction: column; // Organizar os filhos verticalmente

    h1 {
        font-family: 'Raleway', sans-serif; // Usar a fonte Raleway
        font-weight: bold; // Negrito
        font-size: 30px; // Tamanho da fonte 20px
        color: #7A1334; // Cor
        padding: 2%;
      }

      button:hover {
        background-color: gray;
      }

    .search {
      display: flex;
      justify-content: space-between;
      padding-left: 16px;
      width: 30%;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 44px;
      margin-bottom: 2%;

      .search-btn {
        color: #bbb8b8;
      }

      input {
        width: 100%;
        border: 0;
        opacity: 80%;
      }
    }
    
    .seeMore-btn {
      background-color: #7A1334;
      color: #fff;
      width: 10%;
      border: none;
      margin-bottom: 1%;
      margin-top: 1%;
      font-size: 14px;
      border-radius: 15px;
      font-weight: normal;
      font-family: 'Raleway', sans-serif; // Usar a fonte Raleway
      transition: 0.1s;

    }

  }
  